<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <style>
    table {
    width:100%;
    border-collapse: collapse;
    }
    th {
      padding: 10px;
      padding-left: 20px;
      border-bottom: solid 5px #7fffd4;
    }
    td {
      padding: 10px;
      padding-left: 20px;
      border-bottom: solid 1px #7fffd4;
    }
    h2{
      text-align: center;
      padding:30px;
    }
  </style>
</head>

<body>
  <%- include('./header'); %>
 <%- include('./error_messages'); %>

<% if(isAuth) { %>
  <H2>ようこそ<%= n %>さん</H2>
  <div class="container">
  <div class="row">
    <div class="col-md-6">
      <form action="/" method="post">
        <label>タスクの追加</label>
        <input required type="text" name="add" placeholder="何をする?"/>
        <input class="btn btn-primary" type="submit" value="追加"/>
      </form>
    </div>
    <div class="col-md-6">
      <table>
        <tr>
          <th>タスク</th>
          <th>ユーザー名</th>
        </tr>
        
          <% for(let todo of todos){ %>
            <tr>
            <td><span><%= todo.content %></span></td><td><span><%= taiou[todo.user_id] %> </span></td>
            </tr>
          <% } %>
      </table>
    </div>
  </div>
</div>
<% } else { %>
  <h1>Welcome to the TodoApp</h1>
  <a class="btn btn-primary" href="/signup" role="button">Sign up now!</a>
<% } %>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>